ACE/CamTESOLAppWebsite_2019_V1/App_WebReferences/ACEService/ACEAPP.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetProgramDetail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProgramDetailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProgramDetailResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetProgramDetailSoapIn">
    <wsdl:part name="parameters" element="tns:GetProgramDetail" />
  </wsdl:message>
  <wsdl:message name="GetProgramDetailSoapOut">
    <wsdl:part name="parameters" element="tns:GetProgramDetailResponse" />
  </wsdl:message>
  <wsdl:portType name="ACEAPPSoap">
    <wsdl:operation name="GetProgramDetail">
      <wsdl:input message="tns:GetProgramDetailSoapIn" />
      <wsdl:output message="tns:GetProgramDetailSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ACEAPPSoap" type="tns:ACEAPPSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetProgramDetail">
      <soap:operation soapAction="http://tempuri.org/GetProgramDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ACEAPPSoap12" type="tns:ACEAPPSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetProgramDetail">
      <soap12:operation soapAction="http://tempuri.org/GetProgramDetail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ACEAPP">
    <wsdl:port name="ACEAPPSoap" binding="tns:ACEAPPSoap">
      <soap:address location="http://202.79.26.166:9090/ACEAPP.asmx" />
    </wsdl:port>
    <wsdl:port name="ACEAPPSoap12" binding="tns:ACEAPPSoap12">
      <soap12:address location="http://202.79.26.166:9090/ACEAPP.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>